input{
    padding:20px;
    color:black;
}
.box {
    border:2px solid black;
    margin-left:590px;
    margin-right:500px;
    padding: 40px;
    background-color:rgb(250, 215, 232);
    margin-top: 200px;
}
body{
    background-color: aqua;
}